@model sampleshopping1frontend.Models.Products

@{
    ViewData["Title"] = "AddProduct";
    Layout = "_adminlayout";
}

<h1>Add Products</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pname" class="control-label"></label>
                <input asp-for="Pname" class="form-control" />
                <span asp-validation-for="Pname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pdescription" class="control-label"></label>
                <input asp-for="Pdescription" class="form-control" />
                <span asp-validation-for="Pdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pqty" class="control-label"></label>
                <input asp-for="Pqty" class="form-control" />
                <span asp-validation-for="Pqty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pimageurl" class="control-label"></label>
                <input asp-for="Pimageurl" class="form-control" />
                <span asp-validation-for="Pimageurl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pshow" class="control-label"></label>
                <input asp-for="Pshow" class="form-control" />
                <span asp-validation-for="Pshow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductDetails">Back to Products List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
