@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<head>
    <link rel="stylesheet" href="~/css/Addorder.css" />
</head>

<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 mt-3">
        <div class="first d-flex justify-content-between align-items-center mb-3">
            <div class="info">
                <span class="d-block name">Thank you, @ViewBag.Username for Shopping with us</span>
              

            </div>

            <img src="https://i.imgur.com/NiAVkEw.png" width="40" />


        </div>
        <div class="detail">
            <span class="d-block summery">Your order has been Booked, soon it will be Packed and we are delivering you order.</span>
        </div>
        <hr>
        <div class="text">
            <span class="d-block new mb-1">@ViewBag.Username</span>
        </div>
        <div class="  money d-flex flex-row mt-2 align-items-center">
            <img src="https://i.imgur.com/ppwgjMU.png" width="20" />

            <span class="ml-2">Cash on Delivery</span>

        </div>
        <div class="last d-flex align-items-center mt-3">
            <a asp-action="ProductDetails" asp-controller="Product">Go to Homepage</a>

        </div>
    </div>
</div>
